# Nombre del entorno de ejecución
ENTORNO=Desarrollo Local

# Configuración de la Base de Datos MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=appdb
MYSQL_USER=user
MYSQL_PASSWORD=password

# URL de conexión para FastAPI
DATABASE_URL=mysql+pymysql://user:password@db:3306/appdb